<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers" xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers" xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

<f:layout name="Content"/>

<f:section name="Configuration">
	<flux:form id="categoryNavigation"/>
</f:section>

<f:section name="Preview">
	<f:translate key="flux.categoryNavigation"/><br/>
	<flux:grid />
</f:section>

<f:section name="Main">
	<f:if condition="{categories -> f:count()}">
		<nav class="category-navigation" data-category-navigation>
			<ul>
				<f:for each="{categories}" as="category">
					<li>
						<v:resource.record.fal table="sys_category" field="tx_categorizedcontent_image" record="{category}">
							<a href="#" data-target-category="{category.uid}">
								<f:if condition="{images -> f:count(}">
									<f:image src="{images.0}" treatIdAsReference="true"/>
								</f:if>
								{category.title}
							</a>
						</v:resource.record.fal>
					</li>
				</f:for>
			</ul>
		</nav>
	</f:if>
</f:section>

</html>
